<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <style>
            body {
                padding: 20px 0;
            }
        </style>

        <script type="application/javascript">
            var TABLES = {{ tables|tojson }};
            var FILTERS = {{ filters|tojson }};
        </script>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="fluid-container">
            <div class="col-md-12">
                <hr />
                <div class="row">
                    <div class="col-md-4 table-container">
                        <h3>Constituency&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-constituency" class="table display"></table>
                    </div>
                    <div class="col-md-4 table-container">
                        <h3>District&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-district" class="table display" data-dependson="constituency"></table>
                    </div>
                    <div class="col-md-4 table-container">
                        <h3>Categories&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-candidatecategory" class="table display"></table>
                    </div>
                </div>
                <div class="row">
<!--
                    <div class="col-md-12 table-container">
                        <h3>Quotas&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-districtquota" class="table display" data-dependson="constituency district candidatecategory"></table>
                    </div>
-->
                    <div class="col-md-12 table-container">
                        <h3>Quotas</h3>
                        <table id="table-simplequotas" class="table display" data-dependson="constituency district candidatecategory"></table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 table-container">
                        <h3>Lists&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <select class="constituency-select form-control pull-right use-select2" data-filter-search="constituency" data-filter-key="constituency_id" data-filter-targets="electorallist"></select>
                        <table id="table-electorallist" class="table display" data-dependson="constituency"></table>
                    </div>
                    <div class="col-md-6 table-container">
                        <h3>Candidates&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-candidate" class="table display" data-dependson="electorallist constituency district candidatecategory"></table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 table-container">
                        <h3>Results - List Votes&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-votesperlist" class="table display" data-dependson="constituency electorallist"></table>
                    </div>
                    <div class="col-md-6 table-container">
                        <h3>Results - Preferential Votes&nbsp;<a class="add-btn btn btn-default pull-right">&plus; Add</a></h3>
                        <table id="table-preferentialvote" class="table display" data-dependson="constituency candidate electorallist district candidatecategory"></table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3 table-container">
                        <h3>Metrics - List Size</h3>
                        <table id="table-constituencylistsize" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota"></table>
                    </div>
                    <div class="col-md-3 table-container">
                        <h3>Metrics - Total Votes</h3>
                        <table id="table-constituencytotalvotes" class="table display" data-editable="false" data-dependson="constituency votesperlist electorallist"></table>
                    </div>
                    <div class="col-md-3 table-container">
                        <h3>Metrics - Initial Votes Threshold</h3>
                        <table id="table-constituencyinitialthreshold" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                    <div class="col-md-3 table-container">
                        <h3>Metrics - Updated Total Votes</h3>
                        <table id="table-constituencycountedvotes" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 table-container">
                        <h3>Metrics - List Allocations</h3>
                        <table id="table-listallocations" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                    <div class="col-md-6 table-container">
                        <h3>Metrics - Adjusted List Allocations</h3>
                        <table id="table-adjustedlistallocations" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3 table-container">
                        <h3>Metrics - Total Preferential Votes</h3>
                        <table id="table-totalpreferentialvotes" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                    <div class="col-md-9 table-container">
                        <h3>Metrics - Sorted Preferential List</h3>
                        <table id="table-sortedpreferentiallist" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-container">
                        <h3>Final Results</h3>
                        <table id="table-illustratedfinalresult" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-container">
                        <h3>Winning Candidates</h3>
                        <table id="table-finalresult" class="table display" data-editable="false" data-dependson="constituency district candidatecategory districtquota votesperlist electorallist"></table>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <div class="modal fade" tabindex="-1" role="dialog" id="edit-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit</h4>
              </div>
              <div class="modal-body">
                  <form class="formal simple form" role="form" name="delete_form" id="delete_form"></form>
                  <form class="formal simple form" role="form" name="edit_form" id="edit_form"></form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="delete-btn btn btn-danger" form="delete_form">Delete</button>
                <button type="submit" class="edit-btn btn btn-primary" form="edit_form">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <script src="{{ url_for('static', filename='formal.js') }}"></script>
        <script src="{{ url_for('static', filename='simulation.js') }}"></script>
    </body>
</html>
